#navbar {

    background-color: rgb(229, 255, 0);
    padding: 10px;
    border: 2px solid rgb(43, 40, 7);
    margin: 1px;
}

h1 {

background-color:rgb(206, 205, 205)


}

.flex{

    display: flex;
    flex-wrap: wrap;

}

table, th, td{

border:1px solid black;
border-collapse: collapse;

}